{
  "plugins": [
    "import-graphql",
    "graphql-tag",
    "react-hot-loader/babel",
    ["babel-plugin-module-resolver", {
      "root": ["./"],
      "alias": {
        "~": "./src"
      }
    }]
  ]
}
